body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F4F5F4;
    margin: 0px;
}

header{
    background-color: white;
    padding: 10px;
    margin: 0px;
}

main{
    background-color: #F4F5F4;
    padding: 10px;
    margin: 0px;
}

footer{
    background-color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}