#contain{
    background-image: url('imagens-cap19/target001.png');
    background-size: 100% 100%;
    background-color: brown;

    position: relative;

    height: 96vh;
}


#conteudo{
    position: absolute;

    background-image: url('imagens-cap19/target001.png');
    background-size: 100% 100%;
    background-color: yellow;

    height: 200px;
    width: 400px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}