body{
    background-image: url(imagens-cap19/wallpaper001.jpg);
    background-size: 100px 100px;
    background-repeat: ;
    /* 
    background-repeat: no-repeat;
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    background-repeat: round;
    background-repeat: space;
    */
}

/*  */

.quadrado{
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: lightgray;
    width: 300px;
    height: 300px;
}

#q1{
    background-color: skyblue;
}

#q2{
    background-image: linear-gradient(to bottom, yellow, red);
}

#q3{
    background-image: url(imagens-cap19/pattern003.png);
}