body{
    background-color: gray;
}

main{
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    min-width: 320px;
    max-width: 800px;
    margin: auto;
}

img {
    width: 100%;
}

.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    box-shadow: 3px 3px 8px black;
}
